.header_rectangle {
    position: absolute;
    height: 175px;
    width: 414px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(27, 35, 42, 0) 0%, #5ED5A8 100%);
    mix-blend-mode: normal;
    opacity: 0.1;
    z-index: 1;
}

.header {
    display: flex;
    position: relative;
    height: 175px;
    width: 414px;
    left: 0px;
    top: 0px;
    background-color: #1B232A;
    letter-spacing: 0.0264em;
}

.header_back {
    position: absolute;
    width: 414px;
    height: 87.5px;
    top: 0;
    left: 0;
    z-index: 2;
}

.back_icon {
    background-color: transparent;
    border: none;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 25px;
    top: 28px;
    cursor: pointer;
}

.back_title {
    position: absolute;
    color: #fff;
    top: 39px;
    left: 70px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.edit_profile {
    position: absolute;
    width: 414px;
    height: 87.5px;
    top: 87.5px;
    left: 0;
    z-index: 2;
}

.profile_icon {
    position: absolute;
    left: 24px;
    height: 43px;
    width: 43px;
    top: 20px;
    left: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18px;
    left: 85px;
}

.nick_name {
    height: 22px;
    width: 90px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.id {
    color: #777777;
    height: 17px;
    width: 105px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.header_button {
    position: absolute;
    border: none;
    height: 33px;
    width: 104px;
    right: 25px;
    top: 23px;
    border-radius: 16px;
    background-color: #5ED5A8;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.0264em;
    cursor: pointer;
}