.header {
    position: relative;
    height: 95px;
    width: 414px;
    display: flex;
    background-color: #1B232A;
    box-shadow: 0px 12px 16px rgba(22, 28, 34, 0.5);
}

.profile_icon {
    position: absolute;
    left: 24px;
    top: 35px;
    cursor: pointer;
}

.search {
    position: absolute;
    left: 252px;
    top: 37px;
}

.scanner {
    position: absolute;
    left: 304px;
    top: 37px;
}

.notifications {
    position: absolute;
    left: 356px;
    top: 37px;
    cursor: pointer;
}